<div class="col s12">
      <md-toolbar color="primary" class="background-color"  style="margin-top:12px;"><i class="fa fa-user-secret" aria-hidden="true"></i> &nbsp; Agents Detail</md-toolbar>
           <md-card >
           <div class="row">
           <div class="col-xs-12 mainnnn">
                            <div class="col-xs-12 maindetail">
                              <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-user" aria-hidden="true"></i> UserName </strong></div>
                    <div class=" col-sm-3 col-xs-3 headbord"><strong> <i class="fa fa-envelope" aria-hidden="true"></i> Email</strong></div>
                    <div class="col-sm-2 col-xs-2  headbord"><strong> <i class="fa fa-phone" aria-hidden="true"></i> Phone</strong></div>
                    <div class="col-sm-3 col-xs-3  headbord"><strong><i class="fa fa-hand-lizard-o" aria-hidden="true"></i> Select Plan</strong></div>
                    <div class="col-sm-2  col-xs-2 headbord" ><strong> <i class="fa fa-eye" aria-hidden="true"></i> View Detail</strong></div>
                            </div>
                
                  
                  
                  <div class="col-xs-12 maindetail">
                      <div class="col-sm-2 col-xs-2 detailll">SURINDER-GIRI</div>
                    <div class=" col-sm-3 col-xs-3 detailll">Surindergiri2@gmail.com</div>
                    <div class="col-sm-2 col-xs-2 detailll">29379237092</div>
                       <div class="col-sm-3 col-xs-3 preparedd">
                        <button class="btn btn-xs" data-target="modal1"> <span class="items"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Select</span></button>
                    </div>    
                    <div class="col-sm-2 col-xs-2 vieww">
                      <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#demo1"> <i class="fa fa-eye" aria-hidden="true"></i> View</button>
                    </div>
                            <div class="col-xs-12">
                       <div id="demo1" class="collapse text-justify">
  <div class="col-xs-12 maindetail">
                      <div class="col-sm-2 col-xs-2 detailll"> <strong> <i class="fa fa-user-o" aria-hidden="true"></i> First Name</strong> </div>
                    <div class=" col-sm-3 col-xs-3 detailll"> <strong><i class="fa fa-user-circle-o" aria-hidden="true"></i> LastName</strong></div>
                    <div class="col-sm-2 col-xs-2 detailll"> <strong> <i class="fa fa-file-text" aria-hidden="true"></i> PlanA </strong> </div>
                     <div class="col-sm-3 col-xs-3 detailll">
                      <strong><i class="fa fa-file-text-o" aria-hidden="true"></i>  PlanB </strong>
                    </div>
                    <div class="col-sm-2 col-xs-2 detailll">
                    <strong> <i class="fa fa-tags" aria-hidden="true"></i> TagName </strong>
                    </div>
                  </div>

    <div class="col-xs-12 maindetail">
                      <div class="col-sm-2 col-xs-2 detailll">  Surinder </div>
                    <div class="col-sm-3 col-xs-3 detailll"> Giri</div>
                    <div class="col-sm-2 col-xs-2 detailll">  Plan1 </div>
                     <div class="col-sm-3 col-xs-3 detailll">
                       Plan2 
                    </div>
                    <div class="col-sm-2 col-xs-2 detailll">
                      Designer 
                    </div>
                  </div>
  </div>
                    </div>
                  </div>

               
                    </div>
                    </div>
                    </md-card>
                    </div>