<div class="col s12">
   <md-toolbar color="primary" class="background-color "  style="margin-top:12px;"><i class="fa fa-gavel" aria-hidden="true"></i> &nbsp; Rules Defined</md-toolbar>
     <md-card >
       <div class="row">
         <div class="col-xs-12 mainnnn">
           <div class="col-xs-12 maindetail">
             <div class="col-sm-1 col-xs-1 headbord"> <strong> <i class="fa fa-tasks" aria-hidden="true"></i> R.no. </strong>
              </div>
               <div class=" col-sm-3 col-xs-3 headbord"><strong> <i class="fa fa-book" aria-hidden="true"></i> Description</strong>
                </div>
                 <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-file-word-o" aria-hidden="true"></i> RuleType</strong>
                  </div>
                   <div class="col-sm-2 col-xs-3  headbord"><strong><i class="fa fa-file-word-o" aria-hidden="true"></i> Amount</strong>
                    </div>
                      <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-file-text-o" aria-hidden="true"></i> Plane Name</strong>
                    </div>
                     <div class="col-sm-2  col-xs-2 headbord" ><strong> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</strong>
                      </div>
            </div>
                
                              
 <div class="col-xs-12 maindetail">
   <div class="col-sm-1 col-xs-1 detailll">101</div>
     <div class=" col-sm-3 col-xs-3 detailll">This rule is creating for incetives</div>
        <div class="col-sm-2 col-xs-2 detailll">incentives</div>
          <div class="col-sm-2 col-xs-2 detailll">10000</div>
           <div class="col-sm-2 col-xs-2 detailll">Plan A</div>    
            <div class="col-sm-2 col-xs-2 vieww">
              <button type="button" class="btn btn-info btn-sm" data-target="modal2"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
              </div>
 
</div>
    </div>
   </div>
  </md-card>
 </div>



 




 