
 <div class="col s12">
   <md-toolbar color="primary" class="background-color"  style="margin-top:12px;"><i class="fa fa-briefcase" aria-hidden="true"></i> &nbsp; Our Tasks</md-toolbar>
     <md-card >
       <div class="row">
         <div class="col-xs-12 mainnnn">
           <div class="col-xs-12 maindetail">
             <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-tasks" aria-hidden="true"></i> Tasks </strong>
              </div>
               <div class=" col-sm-3 col-xs-3 headbord"><strong> <i class="fa fa-address-card" aria-hidden="true"></i> Address</strong>
                </div>
                 <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-clock-o" aria-hidden="true"></i> Start</strong>
                  </div>
                   <div class="col-sm-3 col-xs-3  headbord"><strong><i class="fa fa-clock-o" aria-hidden="true"></i> End</strong>
                    </div>
                     <div class="col-sm-2  col-xs-2 headbord" ><strong> <i class="fa fa-eye" aria-hidden="true"></i> View Detail</strong>
                      </div>
            </div>
                
                              
 <div class="col-xs-12 maindetail">
   <div class="col-sm-2 col-xs-2 detailll">Birthday Party</div>
     <div class=" col-sm-3 col-xs-3 detailll">H.no. 2463 Jawahar Nagar Adampur Jalandhar</div>
        <div class="col-sm-2 col-xs-2 detailll">15/1/2016</div>
          <div class="col-sm-3 col-xs-3 detailll">16/1/2016</div>    
            <div class="col-sm-2 col-xs-2 vieww">
              <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#demo3"> <i class="fa fa-eye" aria-hidden="true"></i> View</button>
              </div>
  <div class="col-xs-12">
   <div id="demo3" class="collapse text-justify">
                    <div class="col-xs-12 maindetail">
                      <div class="col-sm-2 col-xs-2 detailll"> <strong> <i class="fa fa-user-secret" aria-hidden="true"></i> AgentName</strong> </div>
                    <div class=" col-sm-3 col-xs-3 detailll"> <strong> <i class="fa fa-envelope" aria-hidden="true"></i> Email</strong></div>
                    <div class="col-sm-2 col-xs-2 detailll"> <strong> <i class="fa fa-phone" aria-hidden="true"></i> Phone </strong> </div>
                     <div class="col-sm-3 col-xs-3 detailll">
                      <strong> <i class="fa fa-hand-rock-o" aria-hidden="true"></i> Select Plan </strong>
                    </div>
                    <div class="col-sm-2 col-xs-2 detailll">
                    <strong> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Apply </strong>
                    </div>
                  </div>
 <div class="col-xs-12 maindetail">
   <div class="col-sm-2 col-xs-2 detailll">  Surinder </div>
     <div class="col-sm-3 col-xs-3 detailll"> surinder_giri@yahoo.com</div>
       <div class="col-sm-2 col-xs-2 detailll">  2919273812 </div>
         <div class="col-sm-3 col-xs-3 detailll">
            <div class="input-field col s12" style="padding:0px">
              <select>
		       <option value="" disabled selected>Assign Plan</option>
		        <option value="1">Option 1</option>
		         <option value="2">Option 2</option>
		          <option value="3">Option 3</option>
		      </select>
            </div> 
          </div>    
           	  <div class="col-sm-2 col-xs-2 detailll">
                <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#demo3"> <i class="fa fa-check" aria-hidden="true"></i> Apply</button>
              </div>
 </div>

   <div class="col-xs-12 maindetail">
      <div class="col-sm-2 col-xs-2 detailll">  Surinder </div>
        <div class="col-sm-3 col-xs-3 detailll"> surinder_giri@yahoo.com</div>
          <div class="col-sm-2 col-xs-2 detailll">  2919273812 </div>
             <div class="col-sm-3 col-xs-3 detailll">
                <div class="input-field col s12" style="padding:0px">
			      <select>
			        <option value="" disabled selected>Assign Plan</option>
			         <option value="1">Option 1</option>
			          <option value="2">Option 2</option>
			           <option value="3">Option 3</option>
			      </select>
			    </div> 
               </div>
	 <div class="col-sm-2 col-xs-2 detailll">
	   <button type="button" class=" applied btn disabled" data-toggle="collapse" data-target="#demo3"> <i class="fa fa-ban" aria-hidden="true"></i> Applied</button>
	    </div>
	 </div>
   </div>
 </div>
</div>
    </div>
   </div>
  </md-card>
 </div>